.nav_top{ padding-left:0; }
.nav_top .media_first_001{ display:block; padding:0 15px 0 10px; }
.nav_left{ left:-90px; }
.nav_body{ padding-left:15px; }
.itemall li{ width:135px; height:120px; }
.relzyu{ font-size:18px; }
.relzyu font{ font-size:24px; font-weight:bold; }
.relzyu span{ color:#555; padding-left:10px; display:inline; font-size:15px; }
.abtn_max font.fnums{ font-size:16px; }
.pixedbtn{ border-top:1px solid #ccc; }
.pixedbtn .btn{ font-size:18px; }